.mesitas {
    font-family: Arial, sans-serif;
    background-color: var(--primary-color);
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    min-height: 100vh;
    text-align: center;
    position: relative;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 220px;
    justify-content: flex-start; 
    margin-bottom: 55px;
}

.back-button {
    font-size: 24px;
    cursor: pointer;
    color: var(--white-color);
    margin-right: 10px; 
}

.title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: left; 
}

.progress-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 0 30px 0;
}

.progress-bar {
    display: flex;
    align-items: center;
    width: 250px;
}

.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
    margin: 0 10px;
}

.progress-line {
    height: 4px;
    flex-grow: 1;
    position: relative;
    background-color: var(--white-color);
}

.progress-line:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background-color: var(--white-color);
}

.progress-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 4px;
}

.circle-active {
    background-color: var(--success-color);
}

.circle-inactive {
    background-color: var(--white-color);
}

.tables-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 95px;
    margin: 0 auto;
    max-width: 1330px;
}

.table-container {
    position: relative;
    width: 190px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out; 
}

.table-container:hover {
    transform: scale(1.1); 
}

.table-img {
    width: 260px;
    height: auto;
    cursor: pointer;
}

.table-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: var(--white-color);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out; 
}

.table-container:hover .table-number {
    transform: translate(-50%, -50%) scale(1.1);
}

.button-container {
    margin-top: 55px;
    margin-bottom: 40px;
}

.continue-button {
    background-color: var(--success-color);
    color: var(--white-color);
    border: none;
    border-radius: 4px;
    padding: 16px 65px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.date-display {
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: 20px;
    color: var(--white-color);
}
