<div class="mesita">
    <div class="container">
        <header>
            <span class="back">&lt; SELECCIONAR MESA DEL PEDIDO</span>
            <span class="time">Marzo 28 2025, 10:00PM</span>
        </header>
        <div class="mesa-container">
            <div class="mesa" id="M1">M1</div>
            <div class="mesa" id="M2">M2</div>
            <div class="mesa" id="M3">M3</div>
            <div class="mesa" id="M4">M4</div>
            <div class="mesa" id="M5">M5</div>
            <div class="mesa" id="M6">M6</div>
            <div class="mesa" id="M7">M7</div>
            <div class="mesa" id="M8">M8</div>
            <div class="mesa" id="M9">M9</div>
            <div class="mesa" id="M10">M10</div>
        </div>
        <button class="btn">Seleccionar y Continuar</button>
    </div>
</div>
