<div class="general">
    <h3>Administración de pedidos - Pendientes</h3>
    <table>
        <thead>
            <th>N° de Pedido</th>
            <th>N° de Mesa</th>
            <th>Pedido</th>
            <th>Total</th>
            <th>Estado</th>
            <th>Accion</th>
        </thead>
        <tr>
            <td>#28</td>
            <td>5</td>
            <td>1. Arroz con pato</td>
            <td>S/15</td>
            <td class="center"><p class="pendiente">Pendiente</p></td>
            <td>
                <button>Pagar <i class="fa-solid fa-money-bill fa-xs"></i></button>
            </td>
        </tr>
    </table>
</div>
