<div class="container">
  <div class="formulario">
    <h2>Inicio de Sesión</h2>
    <form action="">
      <div class="bloque borde">
        <i class="fa-regular fa-user fa-xs"></i>
        <input type="text" placeholder="Ingresar Usuario" />
      </div>
      <div class="bloque borde">
        <i class="fa-solid fa-unlock-keyhole fa-xs"></i>
        <input type="text" placeholder="Ingresar Contraseña" />
      </div>
      <div class="opciones boton">
        <a href="#">¿Olvidaste tu Contraseña?</a>
      </div>
      <div class="boton">
        <button>Ingresar</button>
      </div>
    </form>
  </div>
</div>
