<div class="container">
  <div class="formulario">
    <h2 class="d-flex">Inicio de Sesion</h2>
    <form action="">
      <div class="bloque d-flex">
        <i class="fa-solid fa-circle-user"></i>
        <input type="text" placeholder="Ingresar Usuario" />
      </div>
      <div class="bloque d-flex">
        <i class="fa-solid fa-lock"></i>
        <input type="text" placeholder="Ingresar passowrd" />
      </div>
      <div class="boton d-flex">
        <button>Enviar</button>
      </div>
    </form>
  </div>
</div>
