*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #111827;
    --white-color: #FAFAF9;
    --success-color: #A7C957;
    --secondary-color: #E67E22;
    --delete-color: #D62828;
    --component-color: #2C3E50;
    --grey-color: #E5E7EB;
}